[Unit]
Description=Wallpaper slideshow timer

[Timer]
OnActiveSec=0s
OnUnitActiveSec=3m
Unit=wallpaper-set-%i.service

[Install]
WantedBy=timers.target
