[Unit]
Description=Wallpaper slideshow setter

[Service]
Type=oneshot
StandardOutput=null
StandardError=null
ExecStart=/bin/bash "%h"/.scripts/i3cmds/wall-change/wall-change.sh --random
