[Unit]
Description=Set random from s wallpapers

[Service]
Type=oneshot
StandardOutput=null
StandardError=null
ExecStart=/bin/bash "%h"/.scripts/i3cmds/wall-change/wall-change.sh --random-s
