[Unit]
Description=Set random from all wallpapers

[Service]
Type=forking
StandardOutput=null
StandardError=null
ExecStart=/bin/bash "%h"/.scripts/i3cmds/wall-change/wall-change.sh --random-all
