polkit.addRule(function(action, subject) {
    if (action.id.match("org.freedesktop.udisks2.") && subject.isInGroup("storage")) {
        return polkit.Result.YES;
    }
});
