! X colors.
*foreground:        #c5c5c5
*background:        #181818
*.foreground:       #c5c5c5
*.background:       #181818
URxvt*foreground:   #c5c5c5
XTerm*foreground:   #c5c5c5
UXTerm*foreground:  #c5c5c5
URxvt*background:   [99]#181818
XTerm*background:   #181818
UXTerm*background:  #181818
URxvt*cursorColor:  #c5c5c5
XTerm*cursorColor:  #c5c5c5
UXTerm*cursorColor: #c5c5c5
URxvt*borderColor:  [99]#181818

! Colors 0-15.
*.color0: #181818
*color0:  #181818
*.color1: #783946
*color1:  #783946
*.color2: #9d4c5e
*color2:  #9d4c5e
*.color3: #994a5b
*color3:  #994a5b
*.color4: #ba6f80
*color4:  #ba6f80
*.color5: #b6677b
*color5:  #b6677b
*.color6: #c1808e
*color6:  #c1808e
*.color7: #c5c5c5
*color7:  #c5c5c5
*.color8: #515151
*color8:  #515151
*.color9: #783946
*color9:  #783946
*.color10: #9d4c5e
*color10:  #9d4c5e
*.color11: #994a5b
*color11:  #994a5b
*.color12: #ba6f80
*color12:  #ba6f80
*.color13: #b6677b
*color13:  #b6677b
*.color14: #c1808e
*color14:  #c1808e
*.color15: #c5c5c5
*color15:  #c5c5c5

! Black color that will not be affected by bold highlighting.
*.color66: #181818
*color66:  #181818

! Perl extensions

! Disable perl extensions since it segfaults
URxvt.perl-ext:
URxvt.perl-ext-common:

!URxvt.perl-ext-common: default,matcher
!URxvt.url-launcher: /usr/bin/xdg-open
!URxvt.matcher.button: 1
!URxvt.colorUL: #4682B4

! Options
URxvt*font:		                  xft:SauceCodePro Nerd Font Mono:pixelsize=14:style=Semibold,Regular,\
								  xft:Noto Sans CJK JP Medium:style=Medium,Regular
URxvt*boldFont:                   xft:SauceCodePro Nerd Font Mono:pixelsize=14:style=Black,Regular,\
								  xft:Noto Sans CJK JP Black:style=Black,Regular
URxvt*italicFont:				  xft:SauceCodePro Nerd Font Mono:pixelsize=14:style=Semibold Italic,Italic
URxvt*boldItalicFont:			  xft:SauceCodePro Nerd Font Mono:pixelsize=14:style=Semibold Italic,Italic

URxvt.geometry:                   80x20
URxvt*depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                false
URxvt*saveLines:                  5000

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

! Move by words
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Control-Left:        \033[1;5D

! Key scroll
URxvt.keysym.Shift-Up:            command:\033]720;1\007
URxvt.keysym.Shift-Down:		  command:\033]721;1\007
URxvt.keysym.Shift-Control-Up:    command:\033]720;10\007
URxvt.keysym.Shift-Control-Down:  command:\033]721;10\007


! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint:					  0
Xft.lcdfilter:                    lcddefault
Xft.hintstyle:                    hintslight
Xft.hinting:                      1
Xft.antialias:                    1
Xft.rgba:                         rgb

