! X colors.
*foreground:        #c3cbe1
*background:        #151822
*.foreground:       #c3cbe1
*.background:       #151822
URxvt*foreground:   #c3cbe1
XTerm*foreground:   #c3cbe1
UXTerm*foreground:  #c3cbe1
URxvt*background:   [100]#151822
XTerm*background:   #151822
UXTerm*background:  #151822
URxvt*cursorColor:  #c3cbe1
XTerm*cursorColor:  #c3cbe1
UXTerm*cursorColor: #c3cbe1
URxvt*borderColor:  [100]#151822

! Colors 0-15.
*.color0: #151822
*color0:  #151822
*.color1: #4B5987
*color1:  #4B5987
*.color2: #566595
*color2:  #566595
*.color3: #6273A7
*color3:  #6273A7
*.color4: #827B8D
*color4:  #827B8D
*.color5: #97A7CD
*color5:  #97A7CD
*.color6: #7A8FC4
*color6:  #7A8FC4
*.color7: #C3CBE1
*color7:  #C3CBE1
*.color8: #A6A9B0
*color8:  #A6A9B0
*.color9: #4B5987
*color9:  #4B5987
*.color10: #566595
*color10:  #566595
*.color11: #6273A7
*color11:  #6273A7
*.color12: #827B8D
*color12:  #827B8D
*.color13: #97A7CD
*color13:  #97A7CD
*.color14: #7A8FC4
*color14:  #7A8FC4
*.color15: #C3CBE1
*color15:  #C3CBE1

! Black color that will not be affected by bold highlighting.
*.color66: #151822
*color66:  #151822

! Perl extensions
! Disable perl extensions since it segfaults
! URxvt.perl-ext:
! URxvt.perl-ext-common:

URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.colorUL: #4682B4

! Options
URxvt*font:                       xft:SauceCodePro Nerd Font Mono:size=10:style=Semibold,Regular,\
                                  xft:Noto Sans CJK JP Medium:size=10:style=Medium,Regular,\
                                  xft:Noto Color Emoji:size=10:style=Regular,\
                                  xft:Symbola:size=10:style=Regular

URxvt*boldFont:                   xft:SauceCodePro Nerd Font Mono:size=10:style=Black,Regular,\
                                  xft:Noto Sans CJK JP Black:size=10:style=Black,Regular,\
                                  xft:Noto Color Emoji:size=10:style=Regular,\
                                  xft:Symbola:size=10:style=Regular

URxvt*italicFont:                 xft:SauceCodePro Nerd Font Mono:size=10:style=Semibold Italic,Italic,\
                                  xft:Noto Color Emoji:size=10:style=Regular,\
                                  xft:Symbola:size=10:style=Regular

URxvt*boldItalicFont:             xft:SauceCodePro Nerd Font Mono:size=10:style=Semibold Italic,Italic,\
                                  xft:Noto Color Emoji:size=10:style=Regular,\
                                  xft:Symbola:size=10:style=Regular

URxvt*letterSpace:                1
URxvt*geometry:                   80x20
URxvt*depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                false
URxvt*saveLines:                  5000

! CTRL+Shift+c/v copy-paste without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

! Move by words
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Control-Left:        \033[1;5D

! Key scroll
URxvt.keysym.Shift-Up:            command:\033]720;1\007
URxvt.keysym.Shift-Down:          command:\033]721;1\007
URxvt.keysym.Shift-Control-Up:    command:\033]720;10\007
URxvt.keysym.Shift-Control-Down:  command:\033]721;10\007

! Font resize
URxvt.keysym.C-minus:             resize-font:smaller
URxvt.keysym.C-equal:             resize-font:bigger
URxvt.keysym.C-plus:              resize-font:reset
URxvt.keysym.C-question:          resize-font:show

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint:                     0
Xft.lcdfilter:                    lcddefault
Xft.hintstyle:                    hintslight
Xft.hinting:                      1
Xft.antialias:                    1
Xft.rgba:                         rgb

