! X colors.
*foreground:        #b3b9bd
*background:        #101215
*.foreground:       #b3b9bd
*.background:       #101215
URxvt*foreground:   #b3b9bd
XTerm*foreground:   #b3b9bd
UXTerm*foreground:  #b3b9bd
URxvt*background:   #101215
XTerm*background:   #101215
UXTerm*background:  #101215
URxvt*cursorColor:  #b3b9bd
XTerm*cursorColor:  #b3b9bd
UXTerm*cursorColor: #b3b9bd
URxvt*borderColor:  #101215

! Colors 0-15.
*.color0: #101215
*color0:  #101215
*.color1: #475B67
*color1:  #475B67
*.color2: #556974
*color2:  #556974
*.color3: #66747B
*color3:  #66747B
*.color4: #77817F
*color4:  #77817F
*.color5: #8a9aa7
*color5:  #8a9aa7
*.color6: #6D7B85
*color6:  #6D7B85
*.color7: #b3b9bd
*color7:  #b3b9bd
*.color8: #7d8184
*color8:  #7d8184
*.color9: #475B67
*color9:  #475B67
*.color10: #556974
*color10:  #556974
*.color11: #66747B
*color11:  #66747B
*.color12: #77817F
*color12:  #77817F
*.color13: #8a9aa7
*color13:  #8a9aa7
*.color14: #6D7B85
*color14:  #6D7B85
*.color15: #b3b9bd
*color15:  #b3b9bd

! Black color that will not be affected by bold highlighting.
*.color66: #101215
*color66:  #101215

! Perl extensions
! Disable perl extensions since it segfaults
! URxvt.perl-ext:
! URxvt.perl-ext-common:

URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.colorUL: #4682B4

! Options
URxvt*font:                       xft:SauceCodePro Nerd Font Mono:size=10:style=Semibold,Regular,\
                                  xft:Noto Sans CJK JP Medium:size=10:style=Medium,Regular,\
                                  xft:Noto Color Emoji:size=10:style=Regular,\
                                  xft:Symbola:size=10:style=Regular

URxvt*boldFont:                   xft:SauceCodePro Nerd Font Mono:size=10:style=Black,Regular,\
                                  xft:Noto Sans CJK JP Black:size=10:style=Black,Regular,\
                                  xft:Noto Color Emoji:size=10:style=Regular,\
                                  xft:Symbola:size=10:style=Regular

URxvt*italicFont:                 xft:SauceCodePro Nerd Font Mono:size=10:style=Semibold Italic,Italic,\
                                  xft:Noto Color Emoji:size=10:style=Regular,\
                                  xft:Symbola:size=10:style=Regular

URxvt*boldItalicFont:             xft:SauceCodePro Nerd Font Mono:size=10:style=Semibold Italic,Italic,\
                                  xft:Noto Color Emoji:size=10:style=Regular,\
                                  xft:Symbola:size=10:style=Regular

URxvt*letterSpace:                1
URxvt*geometry:                   80x20
URxvt*depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                false
URxvt*saveLines:                  5000

! CTRL+Shift+c/v copy-paste without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

! Move by words
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Control-Left:        \033[1;5D

! Key scroll
URxvt.keysym.Shift-Up:            command:\033]720;1\007
URxvt.keysym.Shift-Down:          command:\033]721;1\007
URxvt.keysym.Shift-Control-Up:    command:\033]720;10\007
URxvt.keysym.Shift-Control-Down:  command:\033]721;10\007

! Font resize
URxvt.keysym.C-minus:             resize-font:smaller
URxvt.keysym.C-equal:             resize-font:bigger
URxvt.keysym.C-plus:              resize-font:reset
URxvt.keysym.C-question:          resize-font:show

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint:                     0
Xft.lcdfilter:                    lcddefault
Xft.hintstyle:                    hintslight
Xft.hinting:                      1
Xft.antialias:                    1
Xft.rgba:                         rgb

